<button
  nz-button
  nzType="default"
  nzSize="small"
  style="float: left"
  routerLink="/layout/list"
>
  < Back
</button>
<h1 class="song-title">- {{ gameInfo.Title }} -</h1>
<div class="song-info">
  <img
    style="width: 200px; height: 200px"
    src="https://img2.baidu.com/it/u=2253673318,3372600971&fm=253&fmt=auto&app=138&f=JPEG?w=528&h=500"
  />
  <div class="song-info-basic">
    <div class="title">
      {{ gameInfo.Title
      }}
      <span style="float: right"></span>
    </div>
    <div>
      Original Price:
      <span
        style="
          text-decoration: line-through;
          text-decoration-color: red;
          color: red;
        "
        >{{ gameInfo["Original Price"] }}</span
      >
    </div>
    <div>
      Discounted Price:
      <span style="color: green">{{ gameInfo["Discounted Price"] }}</span>
    </div>
    <div>Developer: {{ gameInfo.Developer }}</div>
    <div>Publisher: {{ gameInfo.Publisher }}</div>
    <div>Release Date: {{ gameInfo["Release Date"] }}</div>
    <div>Game Description: {{ gameInfo["Game Description"] }}</div>
  </div>
</div>
  <!-- Drag and Drop Upload Section -->
  <div class="upload-section">
    <nz-upload
      nzType="drag"
      [nzMultiple]="true"
      [nzBeforeUpload]="beforeUpload"
      (nzChange)="handleChange($event)"
      class="upload-box"
    >
      <p class="ant-upload-drag-icon">
        <i nz-icon nzType="inbox"></i>
      </p>
      <p class="ant-upload-text">Click or drag your videos or photos to this area to upload</p>
      <p class="ant-upload-hint">
        Support for a single or bulk upload. Strictly prohibit from uploading company data or other band files
      </p>
    </nz-upload>
    <button nz-button nzType="primary" (click)="handleUpload()" [disabled]="uploading">Upload</button>
    <nz-spin [nzSpinning]="uploading"></nz-spin>
    <ul>
      <li *ngFor="let file of fileList">{{ file.name }}</li>
    </ul>
  </div>
  
  <h3 style="margin-top: 20px;">Wonderful moments</h3>
  <nz-row nzGutter="16">
    <nz-col nzSpan="8" *ngFor="let item of images">
      <nz-card [nzHoverable]="true">
        <img *ngIf="item.type.startsWith('image')" [src]="item.url" alt="Uploaded Image" />
        <video *ngIf="item.type.startsWith('video')" [src]="item.url" controls></video>
        <nz-card-meta [nzTitle]="'Upload by ' + username"></nz-card-meta>
      </nz-card>
    </nz-col>
  </nz-row>


